name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2025
    outputs:
      nbgv: ${{ steps.nbgv.outputs.SemVer2 }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      solutionpath: DPVreony.documentation.sln
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      with:
        path: a
        fetch-depth: 0

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        repository: dpvreony/nettestregimentation
        path: nettestregimentation

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        repository: dpvreony/nucleotide
        path: nucleotide

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        repository: dpvreony/vetuviem
        path: vetuviem

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        repository: dpvreony/whipstaff
        path: whipstaff

    - name: Verify the ref context
      run: echo 'Ref Context is ${{ github.ref }}'

    - name: Verify the head ref context
      run: echo 'Head Ref Context is ${{ github.head_ref }}'

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: "a/global.json"

    # This mitigates an issue with websdk projects loading analyzers from old packages.
    - name: Cleanup nuget local storage
      run: dotnet nuget locals all --clear

    - name: Install dotnet tools
      run: dotnet tool restore

    - name: Restore Packages
      shell: pwsh
      working-directory: a/src
      run: |
        dotnet restore "${{ env.solutionpath }}" /bl:${{ github.workspace }}/artifacts/binlog/restore.binlog

    - name: Download roslyn analyzer nuget packages
      run: |
        $packageReferences = (Select-Xml -Path "a\src\upstream_analyzers\upstream_analyzers.csproj" -XPath 'Project/ItemGroup/PackageReference')
        New-Item -ItemType Directory -Force -Path 'downloads\nuget'
        foreach ($pr in $packageReferences)
        {
          $include = $pr.Node.Attributes.GetNamedItem("Include")
          $version = $pr.Node.Attributes.GetNamedItem("Version")
          echo $include.Value + ' ' + $verion.Value
          $url = 'https://www.nuget.org/api/v2/package/' + $include.Value + '/' + $version.Value
          $destination = 'downloads\nuget\' + $include.Value + '.zip'
          $extractto = 'downloads\nuget\' + $include.Value + '\'
          Invoke-WebRequest -Uri $url -OutFile $destination
          $files = Expand-Archive -Path $destination -DestinationPath $extractto -PassThru
          foreach ($file in $files)
          {
            echo $file
          }
        }

    - name: Run Build
      id: run-build
      shell: pwsh
      working-directory: a/src
      run: |
        $env:CHANGE_COMMIT_LOG = @'
        ${{ steps.changelog.outputs.commitLog }}
        '@
        dotnet build "${{ env.solutionpath }}" --configuration Release --no-restore /bl:${{ github.workspace }}/artifacts/binlog/build.binlog /p:ContinuousIntegrationBuild=true

    - name: Publish roslyn analyzer doc gen
      run: |
        dotnet publish DPVreony.Documentation.RoslynAnalzyersToMarkdown\DPVreony.Documentation.RoslynAnalzyersToMarkdown.csproj --no-build --configuration release --output "${{ github.workspace }}\artifacts\cmd\rosan2md"
      working-directory: a/src

    - name: Publish docfx gen
      run: |
        dotnet publish docfx_project\docfx_project.csproj --no-build --configuration release --output "${{ github.workspace }}\artifacts\cmd\docfx_project" --verbosity detailed
      working-directory: a/src

    - name: Generate gripe analzyer documentation
      run: |
        dotnet "${{ github.workspace }}\artifacts\cmd\rosan2md\dpvdocs-rosan2md.dll" -a "downloads\nuget\dhgms.gripewithroslyn.analyzer\analyzers\dotnet\cs\dhgms.gripewithroslyn.analyzer.dll" -o "a\src\docfx_project\obj\gripe" --output-file-per-analyzer

    - name: Generate documentation site
      run: |
        ${{ github.workspace }}\artifacts\cmd\docfx_project\docfx_project.exe
      working-directory: a\src\docfx_project

    - name: Check document links
      run: |
        dotnet doclinkchecker -- -d docfx_project -f docfx_project\docfx-companion-tools.json -v
      working-directory: a\src

    # only store binlog on failure      
    - name: store binlogs
      if: ${{ failure() }}
      uses: actions/upload-artifact@v6
      with:
        name: binlogs
        path: artifacts/binlog
        
    - name: store docfx
      uses: actions/upload-pages-artifact@v4
      with:
        path: src/docfx_project/_site
        
    - name: store outdated
      uses: actions/upload-artifact@v6
      with:
        name: outdated
        path: artifacts/outdated

  # Deployment job
  deploy:
    if: ${{ always() && format('refs/heads/{0}', github.event.repository.default_branch) == github.ref && github.head_ref == '' }}
    permissions:
      contents: read
      pages: write
      id-token: write
      actions: read
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    concurrency:
      group: pages
      cancel-in-progress: false
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4        
        
